
.textfield {
	-fx-background-color: transparent;
}

.textfield:hover {
	-fx-border-color: gray;
	-fx-border-width: 0 0 1 0;
}

.statusButton {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-background-color: transparent;
}
.statusButton:hover {
    -fx-background-color: lavender;
    -fx-text-fill: -fx-text-inner-color;
}